.button {
  background-color: var(--button-background);
  display: flex;
  width: 210px;
  padding: 22px 30px;
  position: relative;
  justify-content: center;
  align-items: center;
  color: var(--yellow);
  text-decoration: none;
  transition: scale 0.2s ease-in;

  &:hover {
    scale: 1.05;

    span {
      scale: 1.05;
    }
  }

  span {
    font-family: Migra;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transition: scale 0.2s ease-in;
  }

  img {
    position: absolute;
    top: -14px;
    left: -18px;
    width: 250px;
  }
}

.button-footer {
  background: transparent;
}

.button-character {
  width: 320px;
  pointer-events: all;

  img {
    position: absolute;
    top: -14px;
    left: -20px;
    width: 360px;
  }
}
