nav {
  background: #d6d9e7;
  padding-top: 80px;
}

.nav {
  display: flex;
  padding: 26px 32px;
  gap: 230px;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  transition: transform 0.5s ease-out;
}

.nav-scrolling-down {
  transform: translatey(-100%);
}

.nav-scroll-locked {
  opacity: 0;
  pointer-events: none;
}
